.contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;
	width: 20%;
	height: 50%;
	background-color: rgb(122, 216, 245);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5rem;
	color: #126791;
	border-radius: 1rem;
}

.hijo1 {
	background-color: #a6d9f2;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

.hijo2 {
	background-color: #79c6ec;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

.hijo3 {
	background-color: #4db2e5;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

.hijo4 {
	background-color: #209ddd;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

.hijo5 {
	background-color: #1a7fb2;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

.hijo6 {
	background-color: #f7ec4a;
	border-radius: 3px;
	display: grid;
	place-items: center;
}

h1 {
	font-size: 2rem;
	color: #126791;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
}

.templateBasic {
	display: flex;
	margin: 1rem;
	align-items: center;
	justify-content: center;
}
